p {
    font-size: .75rem;
}

#Welcome {
    background: pink;
}

#headerImg {
    max-height: 500px;
    width: auto;
}

a:hover {
    padding: 5px;
    background:  rgb(206, 63, 194);
}

main {
    background: rgb(206, 63, 194);
}

