/* Adding background color */
#Welcome {
    background: pink;
}
.content {
    background: rgb(206, 63, 194);
}

/* Styling images */
#headerImg {
    max-height: 200px;
    max-width: 200px;
}

#bio_image {
    max-height: 300px;
    max-width: 300px;
    border-radius: 50%;
}

.click_image {
    max-height: 300px;
    max-width: 300px;
}
.click_image:hover {
    cursor: pointer;
    border: 5px solid hotpink;
}

/* Styling navbar links */
a:hover {
    padding: 5px;
    background:  rgb(206, 63, 194);
}

/* Misc */
p {
    font-size: .75rem;
}
main {
    padding: 0 0 5rem;
}
body {
    font-family: cursive;
}

/* Print media query */
@media Print {

    
}

